* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* VARIABLES */
:root {
  --REACT-BLUE: #00d8ff;
  --OFF-WHITE: mintcream;
}

/* GENERAL */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 4rem 6rem;
  background-color: rgb(0, 0, 0);
  flex: 1;
  gap: 3rem;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 4rem 3rem;
  }
}

.loadingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 8vw, 5rem);
  text-align: center;
  color: white;
}

.heading {
  color: white;
  text-align: center;
  border-bottom: 1px solid var(--REACT-BLUE);
  padding-bottom: 1rem;
}